<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="img/WhatsApp Image 2024-05-22 at 15.59.58.jpeg" alt="Logo">
        <span class="ml-2">INVESTIFY</span>
      </a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link btn" href="cadastro.html" role="button">Faça seu Login</a>
          </li>
        </ul>
    </div>
  </nav>

  <!-- Main Content
  <div class="main-content">
    <div class="full-screen-image" style="background-image: url('img/_0f3b3f59-94b1-4b76-92ee-9d33c948f7ec.jpg');"></div>
  </div>
  -->
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">A investify</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Conheça a inovação com a Investify, sua nova forma de investir seu dinheiro e cadastrar sua ideia ao mundo de investimentos</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-5 fw-bold text-body-emphasis">Sobre Nós</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-5 fw-bold text-body-emphasis">Seja um Investidor</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-5 fw-bold text-body-emphasis">Seja um Empreendedor</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <p>Informações de Contato: investify@email.com | Telefone: (11) 01234-5678</p>
      <p>&copy; 2024 INVESTIFY. Todos os direitos reservados.</p>
    </div>
  </footer> 

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
