body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  }
  .navbar {
    background-color: #000;
  }
  .navbar-brand img {
    height: 40px;
  }
  
  .main-content {
    flex: 1;
  }
  .bt{
    background-color:"#09131d";
  }
  .full-screen-image {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }